@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-decoration: none;
}


li {
    list-style: none;
}

a {
    color: #2d2d2d;
}

header {
    /* background-color: #123962; */
    background-color: #F78B02;
    /* background: #01262c;
    background-image: radial-gradient(ellipse 60% 100% at 40% -20%,
            rgba(24, 79, 45, 1),
            rgba(2, 58, 50, 0)); */
    color: #f8f9fb;
    padding: 6px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.location,
.phone,
.opening-hours {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.phone a {
    color: #f8f9fb;
}

.location span,
.phone span,
.opening-hours span {
    margin-left: 5px;
}

/* Navigation Styles */

nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: white;
    border-bottom: 1px solid #d6dce5;
}

.navbar .logo img {
    height: 3rem;
    cursor: pointer;
}

.navbar .nav-links>ul {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .nav-links>ul>li {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 18px;
    transition: all 0.3s ease;
}

/* .navbar .nav-links>ul>li>a {
    outline: 2px dashed red;

    outline-offset: 2px;

} */

.navbar .nav-links>ul>li:first-child {
    background-color: #123962;
    background: #F78B02;
    border-radius: 5px;
    /* border: 2px solid #123962; */
    cursor: pointer;
    border: 2px solid #F78B02;

}

.navbar .nav-links>ul>li:first-child:hover {
    background-color: #f8f9fb;
}

.navbar .nav-links>ul>li:first-child a {
    color: white;
}

.navbar .nav-links>ul>li:first-child:hover>a {
    color: #1e1f3b;
}

.navbar .nav-links>ul>li:last-child {
    border-radius: 20px;
    padding: 5px 20px;
    border: 2px solid #F78B02;
}

.navbar .nav-links>ul>li:last-child a {
    border-radius: 5px;
    color: #1e1f3b;
}

.navbar .nav-links>ul>li:last-child:hover {
    background-color: #123962;
    background-color: #F78B02;
    cursor: pointer;
}

.navbar .nav-links>ul>li:last-child:hover>a {
    color: white;
}

.navbar .toggle_btn {
    color: #2d2d2d;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* Dropdown Menu for Mobile */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 87px;
    height: 0;
    width: 300px;
    background-color: white;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid #d6dce5;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown_menu.open {
    height: 270px;
}

.dropdown_menu li {
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #4b74ff;
    border-radius: 25px;
    color: white;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.dropdown_menu .action-btn:hover {
    background-color: #00c48c;
}

/* Media Queries */

@media only screen and (max-width: 730px) {
    header {
        font-size: 10px;
    }
}

@media only screen and (max-width: 492px) {
    header {
        font-size: 7px;
    }
}

@media only screen and (max-width: 372px) {
    header {
        font-size: 6px;
    }
}

@media screen and (max-width: 992px) {
    .navbar .nav-links {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media only screen and (max-width: 576px) {
    .navbar {
        padding: 20px;
    }

    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .navbar .logo img {
        height: 2.5rem;
    }
}

.about .about-us {
    /* background-image: url(../image/whyus.png); */
    /* background-color: #FEF0DA; */
    background: linear-gradient(to right, #f45353, #f59e0b);
    /* red-500 to yellow-500 */

    background-position: bottom;
    background-size: cover;
    padding: 1rem;
    height: auto;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Heading */
.about .about-us h3 {
    font-size: 1.5rem;
    /* 24px */
    color: white;
    /* background: linear-gradient(to right, #ef4444, #f59e0b); */
    /* red-500 to yellow-500 */
    font-weight: 600;

    text-align: center;
    padding: 2rem 1rem 1.5rem;
}

/* Success container */
.about .about-us .sucess {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
    text-align: center;
    padding-bottom: 2rem;
}

/* Success items */
.about .about-us .sucess div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 120px;
}

.about .about-us .sucess div span {
    font-size: 1rem;
    /* 16px */
    font-weight: 500;
}

.about .about-us .sucess div i {
    font-size: 2rem;
    /* 32px */
}

/* Responsive font scaling */
@media (min-width: 640px) {
    .about .about-us h3 {
        font-size: 1.75rem;
        /* 28px */
    }

    .about .about-us .sucess div span {
        font-size: 1.1rem;
    }
}

@media (min-width: 768px) {
    .about .about-us h3 {
        font-size: 2rem;
        /* 32px */
    }

    .about .about-us .sucess {
        gap: 4rem;
    }
}



/* footer  */

footer {
    padding: 4rem;


}

footer .footer-col {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 90vw;

}

footer .copyright {
    padding: 1rem;
    text-align: center;

}

footer .footer-col1 img {
    height: 3rem;
}

footer .footer-col1,
footer .footer-col2,
footer .footer-col3,
footer .footer-col4 {
    width: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    height: 15rem;
}

footer .footer-col1 div {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;

}



footer .footer-col2 h3,
footer .footer-col3 h3,
footer .footer-col4 h3 {
    font-size: 18px;
    font-weight: 700;
}

footer .footer-col2 ul li,
footer .footer-col3 ul li,
footer .footer-col4 ul li {
    padding: 7px 0;
}

footer .footer-col2 ul li i {
    padding-right: 10px;
    color: #6674cc;
    color: #F78B02;
    font-size: 20px;
}

footer .footer-col2 ul li:hover,
footer .footer-col3 ul li:hover,
footer .footer-col4 ul li:hover {
    padding-left: 10px;
    transition: all 500ms ease-in-out 2ms;
}

footer .footer-col3 ul li i {
    color: #251d7f;
    color: #F78B02;
    font-size: 20px;
    padding-right: 5px;
}

footer .footer-col4 ul li i {
    color: #262626;
    color: #F78B02;
    font-size: 20px;
    padding-left: 5px;
}


/* responsive style for mobile view */








@media only screen and (max-width: 428px) {



    footer {
        padding: 10px;

    }


    footer .footer-col {

        flex-direction: column;
        margin: auto;

    }

    footer .footer-col1 {
        height: 10rem;
        width: 90vw;
    }

    footer .footer-col2,
    footer .footer-col3,
    footer .footer-col4 {
        width: 90vw;
        height: 14rem;

    }


}

/* responsive style for table view  */

@media only screen and (min-width: 429px) and (max-width: 834px) {
    /* navbar for tablet  */


    footer {
        padding: 10px;
    }

    footer .footer-col {
        flex-wrap: wrap;
        width: 98vw;
        flex-basis: 45vw;

    }

}



.card:hover {
    color: #F78B02;
    scale: 1.1;
    transition: all 500ms ease-in-out;

}